* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: hsl(225, 100%, 94%);
}

.cover {
    width: 100%;
}

.text-primary {
    font-weight: 700;
    color: #000;
}

.text-secondary {
    font-weight: 500;
    color:hsl(224, 23%, 55%);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
}

.container-image {
    position: absolute;
    top: 0;
    left: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    width: 25%;
    z-index: 1;
}

.card-body{
    padding: 2rem;
    text-align: center;
    font-size: 16px;
}

.card-body-title {
    font-weight: 900;
    margin-bottom: 1rem;
}

.card-footer {
    margin: 1rem 2rem;
}

.bar {
    display: flex;
    background-color: hsl(225, 100%, 98%);
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.bar > a {
    font-size: 12px;
    color: hsl(245, 75%, 52%);
}

.bar > a:hover {
    text-decoration: none;
}

.bar-content {
    display: flex;
}

.bar-content-icon {
    padding-right: 0.5rem;
}

.bar-content-text {
    align-self: center;
}

.bar-content-text > p:first-child {
    margin-bottom: 0.2rem;
}

.btn {
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 1rem 0;
    font-size: 16px;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-success {
    background-color:hsl(245, 75%, 52%);
    color: white;
    font-weight: 900;
    margin-bottom: 1rem;
    box-shadow: rgb(114, 114, 114) 0px 7px 19px 0px;
}

.btn-success:hover {
    background-color: hsl(245, 65%, 64%);
}

.btn-cancel {
    background-color: transparent;
    font-weight: 900;
}

.btn-cancel:hover {
    color: #000000;
}

@media (max-width: 991.98px){
    .card {
        width: 40%;
    }
}

@media (max-width: 767.98px){
    .card {
        width: 90%;
    }
}